body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

* {
  font-family: "Press Start 2P", monospace;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  padding: 1rem;

  & > nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    a:hover {
      text-decoration: none;
    }

    h1 {
      color: black;

      sup {
        font-size: 0.6rem;
        top: -1rem;
        right: -0.6rem;
      }
    }
  }

  & > main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nes-input {
      width: 8rem;
    }

    .nes-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;
      width: 24rem;
    }

    menu {
      button,
      input,
      a {
        margin: 0;
      }
    }
  }

  & > main.home {
    p {
      text-align: center;
    }

    dialog {
      z-index: 5;
      height: auto;
      width: 600px;
    }

    menu {
      a {
        margin: 0 0.5rem 0 0.5rem;
      }
    }
  }

  & > main.wrap {
    text-align: center;

    .nes-container {
      width: auto;
    }

    .is-error {
      position: sticky;
      bottom: 5rem;
    }

    .punk-image {
      image-rendering: pixelated;
      width: 240px;
      height: 240px;
      background-color: #eee;
      margin-bottom: 1rem;
    }
  }

  & > footer {
    p {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      #connected {
        background: #92cc41;
      }

      #disconnected {
        background: #e76e55;
      }

      .connection-status {
        width: 6px;
        height: 6px;
        margin: 1rem;
        animation: blink 1s step-start 0s infinite;

        @keyframes blink {
          50% {
            opacity: 0;
          }
        }
      }
    }
  }

  menu {
    display: flex;
    justify-content: center;
    padding: 0;

    * {
      margin: 1rem 1rem 0 1rem;
    }
  }
}

.nes-btn:focus {
  box-shadow: none !important;
}

.nes-container.with-title.is-centered > .title {
  font-size: 1.4rem;
  margin: -2.4rem auto 1.6rem;
}

.nes-field,
.nes-input {
  &:focus {
    outline: none;
  }
}
